<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>juegos de profes</title>
    <link rel="stylesheet" href="/Client/Estilo/estilo_main.css">
    <script src="https://kit.fontawesome.com/1eff4537b0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="container_nav" id="cont_nav_tit">
                <h1>Ludiverso</h1>
            </div>
            <div class="container_nav" id="cont_nav_links">
                <a href="#" class="links">Juegos</a>
                <a href="#" class="links">Areas</a>
                <a href="#" class="links">Novedades</a>
                <a href="#" class="links">Sobre nosotros</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="sec_img" class="secciones">

            <article id="cont_main_juego">
                <img src="" alt="">
                <div class="cont_tex">
                    <h4 id="nombre_materia">Educacion fisica</h4>
                    <h2 id="nombre_juego"></h2>
                </div>

            </article>


        </section>
        <section id="sec_areas" class="secciones">
            <h2>Areas</h2>
            <article id="cont_areas">
                <div class="cont_dos">
                    <a href="" class="cont_areas" id="cont_sociales">
                        <img src="/Client/Resources/Imagenes/sociales.webp" alt="">
                        <span>Sociales</span>

                    </a>
                    <a href="" class="cont_areas " id="cont_edu">
                        <img src="/Client/Resources/Imagenes/educacion_fisica.webp" alt="">
                        <span>Educacion fisica</span>

                    </a>
                </div>

                <a href="" class="cont_areas" id="cont_central">
                    <img src="/Client/Resources/Imagenes/comunicaciones.webp" alt="">
                    <span>Comunicaciones</span>

                </a>
                <div class="cont_dos">
                    <a href="" class="cont_areas" id="cont_taller">
                        <img src="/Client/Resources/Imagenes/taller.webp" alt="">
                        <span>Taller</span>

                    </a>
                    <a href="" class="cont_areas" id="cont_exactas">
                        <img src="/Client/Resources/Imagenes/exactas_naturales.webp" alt="">
                        <span>Exactas y naturales</span>

                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>